.adminForm {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: beige;
    padding: 10px;
    margin: auto;
    justify-content: space-between;
    max-width: 500px;
    border-radius: 20px;
}

.adminForm img {
    max-width: 200px;
    max-height: 200px;
}

.adminPage {
    text-align: center;
    align-items: center;
    
}

.paraAdmin {
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 10px;
}
/* 
.product {

}

.desc {

}

.price {

}

.productColor {


}

.productImg {

}

.material { */


.submitBtn, #file-upload-button {
    width: min-content;
    padding: 0 30px;
    background-color: green;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin: 10px;
    color: white;
}

.submitBtn:hover {
    background-color: darkgreen;
}