

#container {
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.article-container-detail {

    display: grid;
    grid-template-columns: 1fr 3fr;
    
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: brown;
}

article {
    border: none;
}

article:hover {
    box-shadow: none;
    background-color: none;
}

#addToBasket {
    background-color: rgba(67, 18, 145, 0.795);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: all 0.3s ease;
}

.p-details {
    text-align: center;
    font-size: 1.5rem;
}

#img {
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}


