/* NAVBAR */

nav {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

h1, h2, p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.leftNav {
  padding: 10px;
}

.rightNav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  width: 100px;
}

.cart, #search-input {
  margin: 10px;
}

.cart {
  font-size: 30px;
}

#search-input {
  padding: 10px;
  border-radius: 10px;
}

#profilePic {
  width: 50px;
}

.article-container {
  display: flex;
  justify-content: space-around;
}

/* ARTICLES */

article {
  border: 3px solid black;
  border-radius: 20px;
  width: 20%;
  padding: 10px;
  margin: 10px;
}

article:hover {
  box-shadow: 0 0 10px black;
  background-color: beige;
}

.img-furniture {
  width: 100%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buy {
  width: min-content;
  padding: 0 30px;
  background-color: green;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 10px;
  color: white;
}

.buy:hover {
  background-color: darkgreen;
}
