* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color : #5f7cfc;
}

body {
    font-size: 1.5em;
    color: black;
    background: #f5f5f5;   
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    border: 1px solid #fff;
    width: auto;
    height: auto;
    background-color: #fff;
    border-radius: 15px;
}


.modal-mainContents {
    display: flex;
    flex-direction: column;
    align-items : center;
    justify-content: center;
}

.exit-icon {    
    cursor: pointer;
    font-size: 1.2em;

    display: flex;
    justify-content: flex-end;
}

.modal-title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 1.8em;
    margin-top: 15px;
    margin-bottom: 25px;
    /*line-height: 28px;*/
}

.modal-image {
    display: flex;
    justify-content: center;

    margin-bottom: 25px;
}

.modal-image img {
    width: 55%;
}

.modalText {
    font-size: 1em;
    margin-bottom: 25px;
}